<html Doctype!>
    <ol>
        <li> First Name<li>
        <li>Last Name<li>
        <li>Email Address<li>
        <li>Class Name<li>
        <li>Phone Number<li>
        <li>Gender<li>
        <li>Have you participated in a Moringa School Training before?</li>
        <li>Are you intrested in joining Moringa Core after Moringa Prep?</li>
        <li>Where did you hear about moringa school?</li>
        <li>Which avenue was most influential in joining Moringa School?</li>
        <li>Do you understand that you need to pay 40,500ksh before the full-time Moringa Prep starts?</li>
        <li>What is your highest level of education completed?</li>
        <li>Please share a link with us to an online article that best resonates with your personal life philosophy.</li>
        <li>Besides learning to code, how do you want to improve yourself in the next year?</li>
    </ol>
</html>