<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<!-- <nav class="navbar navbar-dark primary-color">
    <a class="navbar-brand" href="https://www.google.com/search?q=moringa+school+logo&tbm=isch&source=iu&ictx=1&fir=g_SQjc7kMdHtTM%253A%252CN_u89ZVuHzsAWM%252C_&vet=1&usg=AI4_-kRbpxCSCxO1AET6UhHm0DQ0pg7guQ&sa=X&ved=2ahUKEwiy_tXqwr7jAhWRsRQKHfwVAwAQ9QEwAHoECAYQBA#imgrc=g_SQjc7kMdHtTM:https://www.google.com/search?q=moringa+school+logo&tbm=isch&source=iu&ictx=1&fir=g_SQjc7kMdHtTM%253A%252CN_u89ZVuHzsAWM%252C_&vet=1&usg=AI4_-kRbpxCSCxO1AET6UhHm0DQ0pg7guQ&sa=X&ved=2ahUKEwiy_tXqwr7jAhWRsRQKHfwVAwAQ9QEwAHoECAYQBA#imgrc=g_SQjc7kMdHtTM:">
      <img src="https://www.google.com/search?q=moringa+school+logo&tbm=isch&source=iu&ictx=1&fir=g_SQjc7kMdHtTM%253A%252CN_u89ZVuHzsAWM%252C_&vet=1&usg=AI4_-kRbpxCSCxO1AET6UhHm0DQ0pg7guQ&sa=X&ved=2ahUKEwiy_tXqwr7jAhWRsRQKHfwVAwAQ9QEwAHoECAYQBA#imgrc=g_SQjc7kMdHtTM:https://www.google.com/search?q=moringa+school+logo&tbm=isch&source=iu&ictx=1&fir=g_SQjc7kMdHtTM%253A%252CN_u89ZVuHzsAWM%252C_&vet=1&usg=AI4_-kRbpxCSCxO1AET6UhHm0DQ0pg7guQ&sa=X&ved=2ahUKEwiy_tXqwr7jAhWRsRQKHfwVAwAQ9QEwAHoECAYQBA#imgrc=g_SQjc7kMdHtTM:" height="30" alt="mdb logo">
    </a>
  </nav> -->
  <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="https://miro.medium.com/max/3150/1*9DOIuxGtRPKdXUmgHkmaKQ.png" width="100" height="30" alt="Moringa">
        </a>
      </nav>
      
  <style>
      .navbar {
          position:fixed;
      }
  </style>
</body>
</html>